body{
    text-align: center;
    font-size: 26px;
    background-color: antiquewhite; 
    top: 50%;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: Black;
    padding-bottom: 10px;
}

